.galleryContainer {
    display: flex;
    overflow-x: auto;
    justify-content: left;
    align-items: center;
    width: 40rem;
    height: 20rem;
    margin-top: 2rem;
}

.galleryContainer .card {
    flex-basis: 18rem;
    flex-shrink: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 18rem;
    height: 18rem;
}

.card .containerImg {
    height: 80%;
    overflow-x: hidden;
}

.containerImg .img2 {
    max-height: 100%;
    width: auto;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btnUpload {
    background-color: rgb(13, 166, 115);
    border-color: rgb(13, 166, 115);
    width: 10rem;
}

.btnUpload:hover {
    background-color: rgb(8, 98, 68);
    border-color: rgb(8, 98, 68);
}