.mainBox {
    width: 100%;
    margin: 0;
}

.headerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1;
    margin-bottom: 1;
}

.formBox {
    text-align: left;
}

.btnAdd {
    background-color: darksalmon;
    border-color: darksalmon;
    color: rgb(126, 52, 65);
}

.btnAdd:hover {
    background-color: white;
    border-color: rgb(126, 52, 65);
    color: rgb(126, 52, 65);
}

.btnAdd:active {
    background-color: darksalmon;
    border-color: darksalmon;
    color: rgb(126, 52, 65);
}

.detalleRow {
    border-bottom: 1px lightslategray;
}

span {
    display:block;
    width:100% /*or whatever width you want the effect of <hr>*/;
    border-top: 1px solid #ccc
}
